.app-header-nav{
  display: flex;
  gap: 40px;
  &:first-child{
    position: relative;
  }
  .seed-white{
    path{
      fill: white;
    }
  }
  .seed-black{
    path{
      fill: black;
    }
  }
}